<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/admin/">首页</a></li>
            <li class="active">在线聊天</li>
        </ul>
    </div>
</div>
<div id="content">
    <div class="main-content">
        <div style="width:240px;height: 800px;border: solid 10px #ADC5DD;float: left;">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation"><a href="javascript:void(0)" ng-click="">最近聊天</a></li>
                <div ng-hide="true">
kjyukyt<br>fdfdf
                </div>
                <li role="presentation"><a href="javascript:void(0)" ng-click="">通讯录</a></li>
                <!--<div ng-hdie="chatMenuDisplay">-->
                    <!--<ul class="list-group">-->
                        <!--<li ng-repeat="user in onlineUsers" class="list-group-item">-->
                            <!--{{user.username}}-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </ul>

        </div>
        <div style="width:1000px;height: 800px;border: solid 10px #ADC5DD;float: left;">
            <textarea style="width:990px;height: 600px;border: solid 10px #CCCCCC;"></textarea>
            <textarea style="width:990px;height: 140px;border: solid 10px #CCCCCC;"></textarea>
            <button class="btn-primary pull-right">发送</button>
        </div>

    </div>
</div>