<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/admin/">首页</a></li>
            <li class="active">邮件查看</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="main-header">
         <a ng-click="goBackMails();" href="javascript:void(0)">返回上一级</a>
    </div>
    <div id="mail-info">
        <span class="msg-title">主题 :</span> {{editModel.title}}<br><br><br>
        <span class="msg-title">发件人 ：</span> {{editModel.fromUser.username}}<br><br><br>
        <span class="msg-title">发送于 ：</span> {{editModel.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}<br><br><br>
        <span class="msg-title">内容 ：</span> {{editModel.content}}<br>
    </div>
  <hr>
    <div><button ng-if="editModel.replyMail==null" ng-click="beginReply();">回复</button><button ng-if="editModel.replyMail!=null" disabled>已回复</button>
        <button ng-click="">删除</button> <button ng-click="">彻底删除</button>
        <button ng-click="">导出</button> <button ng-click="">转发</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-click="">上一封</button><button ng-click="">下一封</button>
    </div>
</div><br><br>
<div id="replyModal" class="reply-background" ng-show="isHide">
    <div>
        <h3 class="modal-title">邮件回复</h3><span class="success">{{replyMsg}}</span>
    </div>
    <div>
        <div>
            收件人： <input name="recipient" type="text" disabled="true"
                        value="{{editModel.fromUser.username}}"/><br><br><br>
            标题：<input type="text" ng-model="title"><br><br><br>
            内容 ： <textarea ng-model="replyContent" class="send-email" rows="10"></textarea><br><br><br>
        </div>
        <div><a href="javascript:;" class="a-upload" id="a-upload">
            <input type="file" nv-file-select="" uploader="uploader"/>上传附件
            <!--<input type="file" name="file" id="file" ng-change="upload($event)" ng-model="fileName">上传附件-->
        </a>
            <span class="glyphicon glyphicon-warning-sign">注：最多只能上传两个附件</span>
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--<span>{{fileInfo}}</span>-->
            <!--<div class="{{fileMsgClass}}">{{uploadInfo}}</div>-->
            <div>
                <button type="submit" class="btn btn-primary" ng-click="reply()">发送</button>
                <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>
<div ng-if="editModel.replyMail!=null" class="reply-background">
    <h3>邮件回复</h3>
    <div>
        <span class="msg-title">主题 :</span> {{editModel.replyMail.title}}<br><br><br>
        <span class="msg-title">收件人 ：</span> {{editModel.fromUser.username}}<br><br><br>
        <span class="msg-title">内容 ：</span> {{editModel.replyMail.content}}<br>
    </div>

</div>
<div ng-show="replyContentShow" class="reply-background">
    <h3>邮件回复</h3>
    <div id="reply-info">
        <span class="msg-title">主题 :</span> {{title}}<br><br><br>
        <span class="msg-title">收件人 ：</span> {{editModel.fromUser.username}}<br><br><br>
        <span class="msg-title">内容 ：</span> {{replyContent}}<br>
    </div>
</div>